<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Pixel App | Animation Guide Generator</title>
        <link rel='stylesheet' href='/css/pixelapp.css'>
        <link rel='stylesheet' href='/css/font.css'>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body style='background-color:rgb(27, 28, 29);font-family:helvetica; color: white;'>
        
        {{{ menubar }}}
    
        <div id='error' style='color:red'></div>

    

    </body>
</html>