.limb_add_box {
    background-color: rgb(233, 221, 206);
    color: rgb(18, 18, 18);
    border-radius: 5px;
    /* width: 100%; */
    /* min-height: 60px; */
    /* height: 0px; */
    padding-top: 20px;
    transition: all 0.4s ease;
}

.limb_add_box_closed {
    overflow: hidden;
    /* transition: all 0.4s ease; */
    height: 0px;
    padding-top: 0px;
    
}

.move_card {
    margin-top:10px;
    padding-top: 10px;
    background-color: rgb(237, 224, 189);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(19, 18, 18);
}

.move_card input {
    width: 40px;
    margin-right: 5px;
}

.move_card button {
    margin-right: 5px;
}

/*Slider code - taken from: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
    /* width: 100%; Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #3df414; /* Green background */
    border: 2px solid rgb(54, 54, 54);
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #3df414; /* Green background */
    border: 2px solid rgb(54, 54, 54);
    cursor: pointer; /* Cursor on hover */
  }