@font-face {
	font-family: 'Dayswebfont';
	src: local('Dayswebfont'), url('/font/Dayswebfont.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1066">Text with this font applied</p> */
.fontsforweb_fontid_1066 {
	font-family: 'Dayswebfont' !important;
}

/* Font downloaded from FontsForWeb.com */