<!DOCTYPE html>
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Pixel App</title>
        <link rel='stylesheet' href='/css/pixelapp.css'>
        <link rel='stylesheet' href='/css/font.css'>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body style='background-color:rgb(27, 28, 29);font-family:helvetica; color: white;'>
        <!-- Heading -->
        <div class='container'>
            <div class='row'>
                <div id='message_banner' style='text-align:center'>
                    <h1>Pixel App: Videos</h1>
                </div>
            </div>
        </div>

        <!-- Option buttons -->
        <div class='container'>
    
            <div class="row choose_menu_items">
                <a href='/video_upload'>
                    <div class='choose_menu_item'>
                        Upload Video        
                    </div>
                </a>
            </div>
            <div class="row choose_menu_items">
                <a href='/video_listing'>
                    <div class='choose_menu_item'>
                        Videos      
                    </div>
                </a>
            </div>
            <div class="row choose_menu_items">
                <a href='/view_listing'>
                    <div class='choose_menu_item'>
                        Views      
                    </div>
                </a>
            </div>
            
        </div>
        
        <div class='container'>
            <div class="row choose_menu_items">
                <a href='/'>
                    <div class='choose_menu_item'>
                        Back
                    </div>
                </a>
            </div>
        </div>

    </body>
</html>