<!DOCTYPE html>
<html>
<head>
    <script src="/js/jquery.min.js"></script>

    <link rel='stylesheet' href='/css/pixelapp.css'>

    <title>Pixel App | Animation Manager</title>

    <link href='/css/website.css' rel='stylesheet'>
    <link href="/css/animation.css?t=12" rel="stylesheet">
    <link href='/css/skeleton.css' rel='stylesheet'>

    <script type='text/javascript' src='/js/animation_main.js?t=123'></script>
    <script type='text/javascript' src='/js/skeletonmanager.js?t=12'></script>
    <script type='text/javascript' src='/js/animation_limb.js?t=12'></script>

    <script type='text/javascript' src='/js/keyHandlerUtils.js?t=127'></script>
    <script type='text/javascript' src='/js/utils.js'></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script>
        window.animation_length = {{length}};
        window.picture_width = {{width}};
        window.picture_height = {{height}};
        window.pixel_id = "{{guid}}";
        window.animation_name = "{{name}}";
    </script>
</head>

<body style='background-color:rgb(27, 28, 29);font-family:helvetica; color: white;'>
    
    {{{ menubar }}}
    
    <div id='error' style='color:red'></div>
    
    <div id="canvas-div" style="text-align: center;">
		<canvas id="canvas"> <!-- width="800" height="400" -->
			<p>Your browser does not support the canvas element.</p>
		</canvas>
	</div>

    <div style="text-align: center;">
        <span id="limb_select"></span>
        <button onclick="add_new_limb()">Add Limb</button>
        <div id="limb_add_box" class="limb_add_box">
            <div id="new_limb_error" style="color:red"></div>
            <input id='new_limb_name' placeholder="name"><br>
            <input id='new_limb_x' placeholder="X" type="number"><br>
            <input id='new_limb_y' placeholder="Y" type="number"><br>
            <input id='new_limb_rot' placeholder="Rotation" type="number"><br>
            <input id='new_limb_length' placeholder="Length" type="number"><br>
            <input id="new_limb_color" type="color"><br>
            <div id="limb_add_parent"></div>
            <button onclick="submit_new_limb()">Submit</button>
            <button onclick="close_new_limb()">Close</button>
        </div>
    </div>
    <div style="text-align: center;">
        
    </div>
    <div id="limb_positions" style="text-align: center;"></div>
    
</body>
</html>
