<!DOCTYPE html>
<html>
<head>
    <script src="/js/jquery.min.js"></script>

    <script src='/js/utils.js'></script>
    <script src='/js/setup.js'></script>
    <link rel='stylesheet' href='/css/pixelapp.css'>

    <title>Pixel Setup</title>

    <link href='/css/skeleton.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>

<body style='background-color:rgb(27, 28, 29);font-family:helvetica; color: white;'>
    
    <div class='container'>
        <div class='row'>
            <div id='message_banner' style='text-align:center'>
                <h1>Pixel App</h1>
            </div>
        </div>
    </div>   
<!-- 
    <br><br> -->
    <div class='container'>
        <div id='error' class='row' style='color: red;'>
        </div>
    </div>

    <div class='container'>
        <div class='row choose_menu_items'>
            <div class='choose_menu_item'>
                <h2>Create New</h2>
                <input id='name' placeholder="Name" type='text'><br>
                <input id='description' placeholder='Description (optional)' type='text'><br>
                <input id='collection' placeholder='Collection (optional)' type='text'>
            </div>
        </div>
        <div class="row choose_menu_items">
                <div class='choose_menu_item'>
                    <div>Size</div>
                    Width: <input id='imgwidth' placeholder='Width' type='number' value='200' style='max-width: 80px'><br>
                    
                    Height: <input id='imgheight' placeholder='Height' type='number' value='400' style='max-width: 80px'> <br> 
                    Px Width: <input id='pixelwidth' placeholder='Pixel Width' type='number' value='20' style='max-width: 80px'>        
                </div>
        </div>
        <div class="row choose_menu_items choose_menu_item_button">
            <div class='choose_menu_item' onclick='create_picture()'>
                Create      
            </div>
        </div>
        
        <div class="row">
            <div class='choose_menu_item'>
                <h2>Load from File</h2>
                <div id='errorfileupload' style='color:red;'></div>
                <input type='file' id='filename'> <button onclick='load_from_file()'>Load</button>    
            </div>
        </div>

        <div class="row choose_menu_items">
            <a href='/'>
                <div class='choose_menu_item choose_menu_item_button'>
                    Back
                </div>
            </a>
        </div>
    </div>

</body>
</html>
